.btn
{
    padding: 1rem 2rem;
    margin-top: 20px;
    background-color:rgb(98 84 243);
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    cursor: pointer;
    
}
