.featured {
  background-color: #f6f8fa;
  min-height: 500px;
  padding: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.checknow {
  font-size: 28px;
  color: rgb(98 84 243);
}

.products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.imagesec {
  position: relative;
}
.desc {
  display: flex;
  align-items: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 500;
  justify-content: space-between;
}

.name {
  font-size: 20px;
  color: black;
}
.price {
  color: rgb(98 84 243);
  font-size: 20px;
}
.btn {
  position: relative;
  height: fit-content;
}
.btn button {
  display: block;
  height: 40px;
  padding: 1rem 2rem;
  text-decoration: none;
  position: absolute;
  top: -677%;
  right: 95%;
  border: none;
  outline: none;
  background-color: #f6f8fa;
  cursor: pointer;
  border-radius: 40px;
  font-size: medium;
  text-align: center;
  color: rgb(72, 191, 231);
}
.services {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.879);
  font-weight: bold;
}
