.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5rem auto;
  width: 90%;
  column-gap: 90px;
  height: 600px;
}
.hero-img {
  height: 330px;
  width: auto;
  position: relative;
  z-index: -1;
}

.welcome-text {
  color: gray;
  font-size: 18px;
}
.Store-text {
  color: black;
  font-size: 50px;
  margin: 20px 0px;
}

.para-text {
  font-size: 20px;
}
@media (max-width: 970px) {
  .container 
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 60%;
  }
  
  
}
