.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 50px; 
}
.form input {
  padding: 0.8rem 2rem;
  width: 25%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 20px;
}

.form input::placeholder,
.form textarea::placeholder {
  font-size: 18px;
  text-align: center;
}

